.notfound-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 90px;
  color: #ef4444;
  margin: 0;
}

h2 {
  color: #1e293b;
  margin: 10px 0;
}

p {
  color: #64748b;
  margin-bottom: 20px;
}

.btn-home {
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-home:hover {
  background-color: #1e40af;
}
